@charset "utf-8";
@font-face {
    font-family: 'poppins';
    font-weight: 300;
    font-style: light;
    font-display: swap;
    src: url('/pcms/common/font/poppins/Poppins-Light.woff2') format('woff2'), url('/pcms/common/font/poppins/Poppins-Light.woff') format('woff');
}

@font-face {
    font-family: 'poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/pcms/common/font/poppins/Poppins-Medium.woff2') format('woff2'), url('/pcms/common/font/poppins/Poppins-Medium.woff') format('woff');
}

@font-face {
    font-family: 'poppins';
    font-weight: 700;
    font-style: bold;
    font-display: swap;
    src: url('/pcms/common/font/poppins/Poppins-Bold.woff2') format('woff2'), url('/pcms/common/font/poppins/Poppins-Bold.woff') format('woff');
}