/* 스크롤바 =============================================   */

/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* shadow */

.shadow {
    position: absolute;
    box-shadow: inset 3px 3px 10px 0 #000000;
    border-radius: 0px;
    padding: 6px;
}