@charset "utf-8";
@font-face {
    font-family: 'aggro';
    font-weight: 300;
    font-style: light;
    font-display: swap;
    src: url('/bigdatamap/pcms/common/font/SB_Aggro/SB_Aggro_L.woff2') format('woff2'), url('/bigdatamap/pcms/common/font/SB_Aggro/SB_Aggro_L.woff') format('woff');
}

@font-face {
    font-family: 'aggro';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/bigdatamap/pcms/common/font/SB_Aggro/SB_Aggro_M.woff2') format('woff2'), url('/bigdatamap/pcms/common/font/SB_Aggro/SB_Aggro_M.woff') format('woff');
}

@font-face {
    font-family: 'aggro';
    font-weight: 700;
    font-style: bold;
    font-display: swap;
    src: url('/bigdatamap/pcms/common/font/SB_Aggro/SB_Aggro_B.woff2') format('woff2'), url('/bigdatamap/pcms/common/font/SB_Aggro/SB_Aggro_B.woff') format('woff');
}